@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@600&family=Neuton&display=swap');


body{
    background-color: #FFF9E2;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.register-content {
    width: 400px;
}

.register-picture img {
    width: 60%;
}

h1{
    font-family: 'Neuton', serif;
    color: #151A50;
    text-align: center;
}

form * {
    width: 100%;
}

label{
    font-family: 'Abhaya Libre', serif;
    color: #151A50;
}

.login p{
    font-family: 'Abhaya Libre', serif;
    color: #969696;
    text-align: center;
}

.login a{
    font-family: 'Abhaya Libre', serif;
    color: #028C10;
}

.button{
    width: 50%;
    background-color: #151A50;
    color: #FFFFFF;
    border-radius :12px;
    font-family: 'Abhaya Libre', serif;
}


form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
